{% extends "dashboard/adminbase.html.twig" %}
{% block title %}AFFICHAGE{% endblock %}



{% block AdminContent %}
<div class="layout-wrapper layout-content-navbar layout-without-menu">
        <img src="../nav/img/front-pages/backgrounds/cta-bg-light.png" class="position-absolute top-0 start-50 translate-middle-x object-fit-contain w-100 h-100" style="height: 121% !important;"/>
		<div class="layout-container">
			<div class="layout-page">
				<div class="content-wrapper">
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="card mb-4">
   



    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Eid</th>
                <th>Date de reservation</th>
                <th>Statut</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Nombre de Personnes</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.Eid }}</td>
                <td>{{ reservation.dateReservation }}</td>
                <td>{{ reservation.statut }}</td>
                <td>{{ reservation.Nom }}</td>
                <td>{{ reservation.Prenom }}</td>
                <td>{{ reservation.NbPersonne }}</td>
                <td>{{ reservation.Email }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}"><i class="bx bx-show"></i></a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"><i class="bx bxs-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
        </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
