{% block main %}
    {% block title %}Liste des Postes{% endblock %}
{% block body %}
        <div id="results" class="container">
            
            <div  class="row row-cols-1 row-cols-md-3 g-4" id="postes">
                {% for poste in postes %}
                    <div class="col" id="poste-{{ poste.idposte }}">
                        <div id="results" class="card">
                            <div class="card-header">
                                <h5 class="card-title">{{ poste.titre }}</h5>
                            </div>
                            <div class="card-body">
                                {% if poste.image %}
                                    <img src="{{ asset('uploads/images/' ~ poste.image) }}" class="card-img-top img-fluid post-image" alt="Image du poste {{ poste.titre }}">
                                {% else %}
                                    <div class="text-center py-5">
                                        Pas d'image associée
                                    </div>
                                {% endif %}
                                <p class="card-text">{{ poste.artiste }}</p>
                                <audio controls>
                                    <source src="{{ asset('uploads/audio/' ~ poste.morceau) }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <p class="card-text">{{ poste.description }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('app_commentFront_indexC', {'idposte': poste.idposte}) }}" class="btn btn-primary">Commentaires</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>           

        </div>
        
    

    {% block stylesheets %}
        <style>
            .post-image {
                width: 100%;
                height: auto;
            }
        </style>
    {% endblock %}
{% endblock %}
{% endblock %}
